#set ($bean = $modelName) 
#set ($beanlen = $bean.length())
#set ($Bean = $bean.substring(0,1).toUpperCase()+$bean.substring(1,$beanlen)) 

package ${suffix}.${domain}.action;
import java.util.List;
import javax.servlet.http.HttpServletRequest;
import org.apache.commons.lang.StringUtils;
import org.springframework.stereotype.Controller;
import org.springframework.ui.ModelMap;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.SessionAttributes;

import ${suffix}.${domain}.manager.${Bean}Manager;
import ${suffix}.${domain}.model.$Bean;
import ${suffix}.${domain}.query.${Bean}Query;
import ${suffix}.${domain}.query.condition.${Bean}QueryCondition;
import ${suffix}.${domain}.utils.MyConstant;
import ${suffix}.${domain}.utils.PageView;
import ${suffix}.${domain}.utils.QueryResult;

import org.springframework.beans.factory.annotation.Autowired;
import java.util.LinkedHashMap;
import javax.servlet.http.HttpServletResponse;
import javax.servlet.http.HttpSession;


/**
 * @author bruce
 * @date ${date}
 * @email zhangyang226@gmail.com
 * @site http://blog.northpark.cn | http://northpark.cn | orginazation https://github.com/jellyband
 * 
 */
@Controller
@RequestMapping("/${bean.toLowerCase()}")
public class ${Bean}Action {

private static final Logger LOGGER = Logger
         .getLogger(${Bean}.class);
 @Autowired	
 private ${Bean}Manager ${bean.toLowerCase()}Manager;
 @Autowired	
 private ${Bean}Query ${bean.toLowerCase()}Query;

	
	/**
	 * 查看列表
	 * @param map
	 * @param condition
	 * @param request
	 * @param response
	 * @param session
	 * @return
	 * @throws IOException
	 */
	@RequestMapping(value="/list")
	public String list1(ModelMap map,${bean}QueryCondition condition,HttpServletRequest request,
			HttpServletResponse response, HttpSession session) throws IOException {
		
		String result="/${bean.toLowerCase()}";
		String sql = ${bean.toLowerCase()}Query.getMixSql(condition);
		
		LOGGER.info("sql ---"+sql);
		
		//定义pageview
		PageView<List<Map<String, Object>>> pageview = new PageView<List<Map<String,Object>>>(1,MyConstant.MAXRESULT);
		
		//获取分页结构不获取数据
		
		pageview = this.${bean.toLowerCase()}Manager.getMixMapPage(pageview, sql);
		
		map.addAttribute("pageView", pageview);
		map.put("condition", condition);
		map.addAttribute("actionUrl","/${bean.toLowerCase()}/list");
		
		

		return result;
	}
	
	

	/**
	 * 查看列表分页
	 * @param map
	 * @param condition
	 * @param request
	 * @param response
	 * @param session
	 * @return
	 * @throws IOException
	 */
	@RequestMapping(value="/list/page/{page}")
	public String list2(ModelMap map,${bean}QueryCondition condition, @PathVariable String page,HttpServletRequest request,
			HttpServletResponse response, HttpSession session) throws IOException {
		
		String result="/${bean.toLowerCase()}";
		String sql = ${bean.toLowerCase()}Query.getMixSql(condition);
		
		LOGGER.info("sql ---"+sql);
		int currentpage = Integer.parseInt(page);
		
		//定义pageview
		PageView<List<Map<String, Object>>> pageview = new PageView<List<Map<String,Object>>>(currentpage,MyConstant.MAXRESULT);
		
		//获取分页结构不获取数据
		
		pageview = this.${bean.toLowerCase()}Manager.getMixMapPage(pageview, sql);
		
		map.addAttribute("pageView", pageview);
		map.put("condition", condition);
		map.addAttribute("actionUrl","/${bean.toLowerCase()}/list");
		map.addAttribute("page", page);
		

		return result;
	}
	
	
	
	//异步分页查询数据
	@RequestMapping(value="/query")
	public String plazzquery(ModelMap map,HttpServletRequest request,${bean}QueryCondition condition, HttpSession session,String userid) {
		String currentpage = request.getParameter("currentpage");
		
		String sql = ${bean.toLowerCase()}Query.getMixSql(condition);
		
		//定义pageview
		PageView<List<Map<String, Object>>> pageview = new PageView<List<Map<String,Object>>>(Integer.parseInt(currentpage),MyConstant.MAXRESULT);
		
		
		//根据分页仅仅获取数据 
		List<Map<String, Object>> list = this.${bean.toLowerCase()}Manager.findmixByCondition(pageview,sql);
		
		
		
		map.addAttribute("list", list);
		
		
		return "/page/${bean.toLowerCase()}/${bean.toLowerCase()}data";
	}
	
	
	
	@RequestMapping("/list3")
	public String list3(ModelMap map,${bean}QueryCondition condition, String page,HttpServletRequest request,
			HttpServletResponse response, HttpSession session)  {
		String result="/equp";
		try {
			session.removeAttribute("tabs");
			String whereSql = ${bean.toLowerCase()}Query.getSql(condition);
			
			
			//定义pageview
			PageView<${bean}> pageview  =  new PageView<${bean}>(1, MyConstant.MAXRESULT); 
			
			LOGGER.info("sql ---"+whereSql);
			
			//排序条件
			LinkedHashMap<String, String> order = new LinkedHashMap<String, String>();
			order.put("date", "desc");
			
			
			QueryResult<${bean}> qr = this.${bean.toLowerCase()}Manager.findByCondition(pageview, whereSql, order);
			List<${bean}> resultlist = qr.getResultlist();
			
			
			//触发生成页码等等
			pageview.setQueryResult(qr);
			map.addAttribute("pageView", pageview);
			map.addAttribute("list", resultlist);
			map.addAttribute("actionUrl","/${bean.toLowerCase()}");
		} catch (Exception e) {
			// TODO: handle exception
			LOGGER.error("eqacton------>",e);
		}
		
		

		return result;
	}
	
	@RequestMapping(value="/${bean.toLowerCase()}/page/{page}")
	public String list4(ModelMap map,${bean}QueryCondition condition, @PathVariable String page,HttpServletRequest request,
			HttpServletResponse response, HttpSession session) throws IOException {

		String result="/${bean.toLowerCase()}";
		session.removeAttribute("tabs");
		String whereSql = ${bean.toLowerCase()}Query.getSql(condition);
		
		
		
		//定义pageview
		PageView<${bean}> pageview  =  new PageView<${bean}>(Integer.parseInt(page), MyConstant.MAXRESULT); 
		
		String keyword = request.getParameter("keyword");
		if(StringUtils.isNotEmpty(keyword)){
			keyword = WAQ.forSQL().escapeSql(keyword);
			whereSql+=" and title like '%"+keyword+"%' ";
			
			map.addAttribute("keyword", keyword);
			
		}
		LOGGER.info("sql ---"+whereSql);
		
		//排序条件
		LinkedHashMap<String, String> order = new LinkedHashMap<String, String>();
		order.put("date", "desc");
		
		
		QueryResult<${bean}> qr = this.${bean.toLowerCase()}Manager.findByCondition(pageview, whereSql, order);
		List<${bean}> resultlist = qr.getResultlist();
		//触发生成页码等等
		pageview.setQueryResult(qr);
		map.addAttribute("pageView", pageview);
		map.addAttribute("list", resultlist);
		map.addAttribute("actionUrl","/romeo");
		map.addAttribute("page", page);
		

		return result;
	}

}
