package ${suffix}.${domain}.dao;

import java.io.Serializable;


import ${suffix}.${domain}.model.${modelName};

/**
 * @author bruce
 * @date ${date}
 * @email zhangyang226@gmail.com
 * @site http://blog.northpark.cn | http://northpark.cn | orginazation https://github.com/jellyband
 * 
 */
public interface ${modelName}Dao extends HibernateDao<${modelName}, Serializable> {
	
}