#set ($bean = $modelName) 
#set ($beanlen = $bean.length())
#set ($Bean = $bean.substring(0,1).toUpperCase()+$bean.substring(1,$beanlen)) 

package com.${domain}.manager;
import java.util.List;
import com.${domain}.model.${modelName};
import java.util.LinkedHashMap;
import com.${domain}.utils.PageView;
import com.${domain}.utils.QueryResult;

public interface ${Bean}Manager {
	
	public $Bean find$Bean(String id);

	public List<$Bean> findAll();

	public void add${Bean}($Bean $bean.toLowerCase());

	public boolean del${Bean}(String id);

	public boolean update${Bean}($Bean $bean.toLowerCase());
	
	public QueryResult<${Bean}> findByCondition(PageView<${Bean}> p,
			String wheresql, LinkedHashMap<String, String> order);

	public QueryResult<${Bean}> findByCondition(
			String wheresql);
	
}


