/////////////////////////////////////////////

package com.${domain}.query.condition;
import java.io.Serializable;

/**
 * @author bruce
 * @date ${date}
 * @email zhangyang226@gmial.com
 * @site http://blog.northpark.cn | http://northpark.cn | orginazation https://github.com/jellyband
 * 
 */
public class ${modelName}QueryCondition implements Serializable {

#foreach($Property in $PropertyList)

	private ${Property.Type} ${Property.Column};
  
#end  



#foreach($Property in $PropertyList)
	#set ($namelen = ${Property.Name.length()}) 
	public ${Property.Type} get${Property.Name.substring(0,1).toUpperCase()}${Property.Name.substring(1,$namelen)}() {
		return ${Property.Column};	
	}
	
	public void set${Property.Name.substring(0,1).toUpperCase()}${Property.Name.substring(1,$namelen)}(${Property.Type} ${Property.Column}) {
		this.${Property.Column} = ${Property.Column};
	}
#end

}